.main {
  display: block;
  margin: 40px;
  max-height: none;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.home-details-card-content {
  width: 1000px;
}

.home-details-card-description {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  position: relative; left: calc( (1000px - 400px) / 2);
}

.home-details-card-carousel {
  height: 470px;
  width: 470px;
  background-color: #ffffff;
}

.home-details-card-description-card {
  width: 400px;
  height: 150px;
  margin-top: 10px;

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.home-details-card-description-card:hover {
  background-color: #fafafa;
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ngb-carousel {
  height: 470px;
  width: 470px;
}

#card-details-paragraph {
  height: 60px;
  width: 500px;
  font-size: larger;
}
