<nav class="navbar navbar-expand-lg d-flex align-items-center justify-content-between m-1">

  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center gap-1" href="/">
      <img class="header-svg" ngSrc="images/trellite-logo-light.png" alt="logo" height="30" width="30" priority/>
      <p>Trellite</p>
    </a>

    <form class="d-flex flex-grow-1 justify-content-center">
      <input class="form-control me-2 w-50" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="profile-pic-container">
      <a class="nav-brand profile-icon" href="/">
        <img class="header-svg" ngSrc="images/default-profile.svg" alt="default-profile" height="24" width="24"/>
      </a>
    </div>

  </div>

</nav>
