.main {
  margin: 40px;
}

.main-child-card {
  width: 75vw;
  height: 600px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
#image-card {
  justify-content: end;
}
.btn-right {
  margin-left: 8px;
}
